$font-family: "Baloo Bhai 2", sans-serif;

.header {

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 16px;
  margin-right: 25vw;

  ul {
    display: flex;
    gap: 16px;
    justify-content: center;

    li {
      list-style: none;
      text-transform: uppercase;
      // text-decoration: underline;
      color: white;
      a {
        color: white;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: -3px;
          left: 0;
          background-color: #fff;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.45s ease-in-out 0s;
          transition: all 0.45s ease-in-out 0s;
        }

        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  
  }
}

.content {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 48px;

  div {
    position: relative;
    width: 10vw;
    margin-left: -150px;
  }

  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 64px;
    font-family: $font-family;
  }
}

.fundo {
  position: absolute;
  left: 0;
  z-index: 1;
}

.img {
  position: absolute;
  z-index: 2;
  left: 18px;
  bottom: 40px;
}

.bg {
  width: 100%;
  // height: 100px;
}